<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, <%= user.email %>!</h1>
    <h2>Your Files:</h2>
    <ul>
        <% user.files.forEach(file => { %>
            <li><%= file.filename %></li>
            <a href="/uploads/<%= file.filename %>">Download</a>
        <% }); %>
    </ul>

    <div class="upload">
        <p>Upload a new file:</p>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Upload</button>
        </form>
    </div>
    <div class="folders">
        <h2>Your Folders:</h2>
        <ul>
            <% folders.forEach(folder => { %>
                <div class="card">
                    <h3><%= folder.name %></h3>
                    <p>Files:</p>
                    <ul>
                        <% folder.files.forEach(file => { %>
                            <li><%= file.name %></li>
                        <% }); %>
                    </ul>
                </div>
            <% }); %>
        </ul>
        <div class="folder">
            <p>Create a new folder:</p>
            <form action="/create-folder" method="POST">
                <input type="text" name="folderName" placeholder="Folder Name" required>
                <button type="submit">Create Folder</button>
            </form>
        </div>
    </div>
</body>
</html>